// ===================================================
// COMPONENT — BUTTONS
// ===================================================
@use '../abstracts' as *;

.btn{
    text-decoration: none;
    color: $color-text;
    padding: 0.8rem 1.6rem;
    border: 0.1rem solid $color-border;
    border-radius: $border-radius-md;
    font-weight: $font-weight-medium;
    width: fit-content;
}

.btn--primary{
    background-color: $color-green1;
    color: $color-white;
    border-color: $color-green1;
}

.btn--outline{
    background-color: $color-bg-alt;
    border-color: $color-border;

    &:hover{
        background-color: rgba($color-text, 0.1);
    }
}

.see_all{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color-white;
    font-weight: $font-weight-medium;
    text-decoration: none;
}