// ===================================================
// LAYOUT — HEADER & NAV
// ===================================================
@use '../abstracts' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-sticky;
    padding: 1rem 2rem;

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 2rem;
        position: relative;
        @include transition(background, box-shadow, border-radius, backdrop-filter);

        &.scrolled {
            box-shadow: $shadow-md;
            background: rgba($color-bg, 0.85);
            backdrop-filter: blur(1.2rem);
            border-radius: 1rem;
            border: 0.1rem solid $border-color;
        }
    }

    .nav_logo img{
        width: 13rem;
        height: auto;
    }

    .nav_list{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);

        transition:
            opacity 0.3s ease-out,
            transform 0.3s ease-out,
            visibility 0.3s;

        display: flex;
        flex-direction: column;

        background-color: $color-bg;
        border: 0.1rem solid $border-color;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;
        padding: 1rem;

        
        li{
            list-style: none;

            a{
                text-decoration: none;
                color: $color-text;
                font-size: $font-size-base;
                font-weight: $font-weight-medium;
                padding: 0.4rem 0.8rem;
                border-radius: $border-radius-sm;
                transition: color $transition-base, background-color $transition-base;

                &:hover{
                    color: $color-primary;
                    background-color: rgba($color-primary, 0.1);
                }
            }
        }
    }

    .nav_list.active{
        opacity: 1;
        visibility: visible;
        transform: translateY(8px);
        gap: 1rem;

        li{
            width: 100%;
            a{
                display: block;
                width: 100%;
            }
        }
    }

    .nav_toggle{
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;

        i{
            font-size: 2rem;
        }
    }

    @media (min-width: $bp-md) {
        .nav_list{
            display: flex;
            flex-direction: row;
            position: relative;
            background: none;
            border: none;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            gap: 2.4rem;
            transform: none;
        }

        .nav_toggle{
            display: none;
        }
    }
}
